// App Config - this is where most of your magic will happen
// ---------------------------------------------------------
@import "config";  // Editing the config file sets the theme for the project

// Import core Sass libraries
// ---------------------------------------------------------
@import "lib/bourbon/bourbon";

// Standard CSS reset stuff here
// ---------------------------------------------------------
@import "reset";

// Base
@import "layouts";
@import "typography";
@import "colors";
@import "ui-elements";
@import "forms";
@import "buttons";
@import "thirdparty";
@import "icons/etc/style";
@import "icons/cxn/style";

// UI Patterns and Modules
// State is addressed within the component code itself
//@import "ui_patterns/manifest";
//@import "modules/manifest";

// Vendor specific styles / modules
//@import "vendors/manifest";

// Layouts
//@import "layouts/manifest";

$debugborder: 1px solid rgb(0, 0, 0);
.connections-table {
  overflow: hidden;
}
.table {
  background-color: #E8E8E8;
  thead {
  height: 50px;
  z-index: 99;
  background-color: #E8E8E8;
  .reactable-filterer {
    text-align: right;
    input {
      background-color: #ffffff;
    }
  }
  .reactable-column-header{
    margin-bottom: 6px;
    th{
    font-weight: normal;
    color: #9D8B8B;
    }
  }
}
  tbody{
    background-color: #ffffff;
  }
  tbody.nano-content {
    margin-top: 55px;
    padding: 0 8px 0 8px;
    	border-collapse: collapse;
      tr {
        border-bottom: 1px solid rgba(99, 99, 99, 0.1) !important;
        width: 100%;
      }
      td {
        font-size: 0.75em;
        height: 48px;
        // border-bottom: 1px solid rgba(0, 0, 0, 1.0);
      }
    }
}

.reactable-th-name, .nano-content td[label=Name]{
  width: 200px;
  min-width: 200px;
  max-width: 200px;
}
.reactable-th-type, .nano-content td[label=Type]{
  width: 80px;
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}
.reactable-th-tags, .nano-content td[label=Tags]{
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  text-align: center;
}
.reactable-th-added, .nano-content td[label=Added]{
  width: 80px;
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}
.reactable-th-avg, .nano-content td[label=Avg]{
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  text-align: center;
}
.reactable-th-edit, .nano-content td[label=Edit]{
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  text-align: center;
}
// .reactable-th-delete, .nano-content td[label=Delete]{
//   width: 80px;
//   min-width: 80px;
//   max-width: 80px;
//   text-align: center;
// }
