@include font-face("icon-etc", "../sass/icons/etc/fonts/icon-etc", $file-formats: eot ttf svg);

[class^="icon-etc-"], [class*=" icon-etc-"] {
	font-family: 'icon-etc';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-etc-home3:before {
	content: "\e901";
}
.icon-etc-office:before {
	content: "\e902";
}
.icon-etc-newspaper:before {
	content: "\e903";
}
.icon-etc-pencil:before {
	content: "\e904";
}
.icon-etc-eyedropper:before {
	content: "\e907";
}
.icon-etc-image:before {
	content: "\e909";
}
.icon-etc-camera:before {
	content: "\e90b";
}
.icon-etc-music:before {
	content: "\e90d";
}
.icon-etc-play:before {
	content: "\e90e";
}
.icon-etc-film:before {
	content: "\e90f";
}
.icon-etc-pacman:before {
	content: "\e911";
}
.icon-etc-spades:before {
	content: "\e912";
}
.icon-etc-bullhorn:before {
	content: "\e915";
}
.icon-etc-connection:before {
	content: "\e916";
}
.icon-etc-mic:before {
	content: "\e917";
}
.icon-etc-book:before {
	content: "\e918";
}
.icon-etc-library:before {
	content: "\e91a";
}
.icon-etc-file-text:before {
	content: "\e91b";
}
.icon-etc-folder:before {
	content: "\e920";
}
.icon-etc-folder-plus:before {
	content: "\e922";
}
.icon-etc-folder-minus:before {
	content: "\e923";
}
.icon-etc-price-tag:before {
	content: "\e924";
}
.icon-etc-price-tags:before {
	content: "\e925";
}
.icon-etc-ticket:before {
	content: "\e926";
}
.icon-etc-cart:before {
	content: "\e927";
}
.icon-etc-coin-dollar:before {
	content: "\e928";
}
.icon-etc-lifebuoy:before {
	content: "\e92a";
}
.icon-etc-location:before {
	content: "\e900";
}
.icon-etc-alarm:before {
	content: "\e92e";
}
.icon-etc-calendar:before {
	content: "\e92f";
}
.icon-etc-download:before {
	content: "\e934";
}
.icon-etc-upload:before {
	content: "\e935";
}
.icon-etc-database:before {
	content: "\e937";
}
.icon-etc-bubbles3:before {
	content: "\e938";
}
.icon-etc-binoculars:before {
	content: "\e93b";
}
.icon-etc-search:before {
	content: "\e93c";
}
.icon-etc-enlarge2:before {
	content: "\e93f";
}
.icon-etc-shrink2:before {
	content: "\e940";
}
.icon-etc-equalizer:before {
	content: "\e943";
}
.icon-etc-equalizer2:before {
	content: "\e944";
}
.icon-etc-magic-wand:before {
	content: "\e945";
}
.icon-etc-stats-bars:before {
	content: "\e948";
}
.icon-etc-trophy:before {
	content: "\e949";
}
.icon-etc-glass2:before {
	content: "\e94c";
}
.icon-etc-mug:before {
	content: "\e94d";
}
.icon-etc-spoon-knife:before {
	content: "\e94e";
}
.icon-etc-leaf:before {
	content: "\e94f";
}
.icon-etc-rocket:before {
	content: "\e950";
}
.icon-etc-meter:before {
	content: "\e951";
}
.icon-etc-fire:before {
	content: "\e954";
}
.icon-etc-lab:before {
	content: "\e955";
}
.icon-etc-briefcase:before {
	content: "\e957";
}
.icon-etc-airplane:before {
	content: "\e958";
}
.icon-etc-accessibility:before {
	content: "\e95b";
}
.icon-etc-clipboard:before {
	content: "\e95f";
}
.icon-etc-menu2:before {
	content: "\e962";
}
.icon-etc-cloud-upload:before {
	content: "\e963";
}
.icon-etc-link:before {
	content: "\e964";
}
.icon-etc-flag:before {
	content: "\e965";
}
.icon-etc-attachment:before {
	content: "\e966";
}
.icon-etc-eye:before {
	content: "\e967";
}
.icon-etc-eye-blocked:before {
	content: "\e968";
}
.icon-etc-bookmark:before {
	content: "\e969";
}
.icon-etc-star-empty:before {
	content: "\e96a";
}
.icon-etc-star-full:before {
	content: "\e96b";
}
.icon-etc-heart:before {
	content: "\e96c";
}
.icon-etc-warning:before {
	content: "\e96d";
}
.icon-etc-notification:before {
	content: "\e96e";
}
.icon-etc-plus:before {
	content: "\e96f";
}
.icon-etc-minus:before {
	content: "\e970";
}
.icon-etc-info:before {
	content: "\e971";
}
.icon-etc-cross:before {
	content: "\e905";
}
.icon-etc-exit:before {
	content: "\e974";
}
.icon-etc-play3:before {
	content: "\e975";
}
.icon-etc-pause2:before {
	content: "\e976";
}
.icon-etc-stop2:before {
	content: "\e977";
}
.icon-etc-first:before {
	content: "\e97a";
}
.icon-etc-last:before {
	content: "\e97b";
}
.icon-etc-previous2:before {
	content: "\e97c";
}
.icon-etc-next2:before {
	content: "\e97d";
}
.icon-etc-eject:before {
	content: "\e97e";
}
.icon-etc-volume-high:before {
	content: "\e97f";
}
.icon-etc-volume-medium:before {
	content: "\e980";
}
.icon-etc-volume-low:before {
	content: "\e981";
}
.icon-etc-volume-mute:before {
	content: "\e982";
}
.icon-etc-loop:before {
	content: "\e983";
}
.icon-etc-shuffle:before {
	content: "\e984";
}
.icon-etc-sort-alpha-asc:before {
	content: "\e985";
}
.icon-etc-sort-alpha-desc:before {
	content: "\e986";
}
.icon-etc-command:before {
	content: "\e987";
}
.icon-etc-shift:before {
	content: "\e988";
}
.icon-etc-ctrl:before {
	content: "\e989";
}
.icon-etc-opt:before {
	content: "\e98a";
}
.icon-etc-filter:before {
	content: "\e98b";
}
.icon-etc-insert-template:before {
	content: "\e98c";
}
.icon-etc-new-tab:before {
	content: "\e98e";
}
.icon-etc-embed:before {
	content: "\e98f";
}
.icon-etc-terminal:before {
	content: "\e991";
}
.icon-etc-share2:before {
	content: "\e992";
}
