$icon-etc-home3: "\e901";
$icon-etc-office: "\e902";
$icon-etc-newspaper: "\e903";
$icon-etc-pencil: "\e904";
$icon-etc-eyedropper: "\e907";
$icon-etc-image: "\e909";
$icon-etc-camera: "\e90b";
$icon-etc-music: "\e90d";
$icon-etc-play: "\e90e";
$icon-etc-film: "\e90f";
$icon-etc-pacman: "\e911";
$icon-etc-spades: "\e912";
$icon-etc-bullhorn: "\e915";
$icon-etc-connection: "\e916";
$icon-etc-mic: "\e917";
$icon-etc-book: "\e918";
$icon-etc-library: "\e91a";
$icon-etc-file-text: "\e91b";
$icon-etc-folder: "\e920";
$icon-etc-folder-plus: "\e922";
$icon-etc-folder-minus: "\e923";
$icon-etc-price-tag: "\e924";
$icon-etc-price-tags: "\e925";
$icon-etc-ticket: "\e926";
$icon-etc-cart: "\e927";
$icon-etc-coin-dollar: "\e928";
$icon-etc-lifebuoy: "\e92a";
$icon-etc-location: "\e900";
$icon-etc-alarm: "\e92e";
$icon-etc-calendar: "\e92f";
$icon-etc-download: "\e934";
$icon-etc-upload: "\e935";
$icon-etc-database: "\e937";
$icon-etc-bubbles3: "\e938";
$icon-etc-binoculars: "\e93b";
$icon-etc-search: "\e93c";
$icon-etc-enlarge2: "\e93f";
$icon-etc-shrink2: "\e940";
$icon-etc-equalizer: "\e943";
$icon-etc-equalizer2: "\e944";
$icon-etc-magic-wand: "\e945";
$icon-etc-stats-bars: "\e948";
$icon-etc-trophy: "\e949";
$icon-etc-glass2: "\e94c";
$icon-etc-mug: "\e94d";
$icon-etc-spoon-knife: "\e94e";
$icon-etc-leaf: "\e94f";
$icon-etc-rocket: "\e950";
$icon-etc-meter: "\e951";
$icon-etc-fire: "\e954";
$icon-etc-lab: "\e955";
$icon-etc-briefcase: "\e957";
$icon-etc-airplane: "\e958";
$icon-etc-accessibility: "\e95b";
$icon-etc-clipboard: "\e95f";
$icon-etc-menu2: "\e962";
$icon-etc-cloud-upload: "\e963";
$icon-etc-link: "\e964";
$icon-etc-flag: "\e965";
$icon-etc-attachment: "\e966";
$icon-etc-eye: "\e967";
$icon-etc-eye-blocked: "\e968";
$icon-etc-bookmark: "\e969";
$icon-etc-star-empty: "\e96a";
$icon-etc-star-full: "\e96b";
$icon-etc-heart: "\e96c";
$icon-etc-warning: "\e96d";
$icon-etc-notification: "\e96e";
$icon-etc-plus: "\e96f";
$icon-etc-minus: "\e970";
$icon-etc-info: "\e971";
$icon-etc-cross: "\e905";
$icon-etc-exit: "\e974";
$icon-etc-play3: "\e975";
$icon-etc-pause2: "\e976";
$icon-etc-stop2: "\e977";
$icon-etc-first: "\e97a";
$icon-etc-last: "\e97b";
$icon-etc-previous2: "\e97c";
$icon-etc-next2: "\e97d";
$icon-etc-eject: "\e97e";
$icon-etc-volume-high: "\e97f";
$icon-etc-volume-medium: "\e980";
$icon-etc-volume-low: "\e981";
$icon-etc-volume-mute: "\e982";
$icon-etc-loop: "\e983";
$icon-etc-shuffle: "\e984";
$icon-etc-sort-alpha-asc: "\e985";
$icon-etc-sort-alpha-desc: "\e986";
$icon-etc-command: "\e987";
$icon-etc-shift: "\e988";
$icon-etc-ctrl: "\e989";
$icon-etc-opt: "\e98a";
$icon-etc-filter: "\e98b";
$icon-etc-insert-template: "\e98c";
$icon-etc-new-tab: "\e98e";
$icon-etc-embed: "\e98f";
$icon-etc-terminal: "\e991";
$icon-etc-share2: "\e992";
