$icon-etc-home: "\e800";
$icon-etc-home3: "\e801";
$icon-etc-newspaper: "\e802";
$icon-etc-image: "\e803";
$icon-etc-camera: "\e804";
$icon-etc-headphones: "\e805";
$icon-etc-music: "\e806";
$icon-etc-play: "\e807";
$icon-etc-film: "\e808";
$icon-etc-connection: "\e809";
$icon-etc-mic: "\e80a";
$icon-etc-book: "\e80b";
$icon-etc-books: "\e80c";
$icon-etc-file-text: "\e80d";
$icon-etc-profile: "\e80e";
$icon-etc-file-picture: "\e80f";
$icon-etc-file-music: "\e810";
$icon-etc-file-play: "\e811";
$icon-etc-stack: "\e812";
$icon-etc-folder: "\e813";
$icon-etc-folder-open: "\e814";
$icon-etc-folder-plus: "\e815";
$icon-etc-folder-minus: "\e816";
$icon-etc-folder-download: "\e817";
$icon-etc-price-tag: "\e818";
$icon-etc-lifebuoy: "\e819";
$icon-etc-location2: "\e81a";
$icon-etc-alarm: "\e81b";
$icon-etc-calendar: "\e81c";
$icon-etc-download: "\e81d";
$icon-etc-upload: "\e81e";
$icon-etc-bubbles3: "\e81f";
$icon-etc-search: "\e820";
$icon-etc-equalizer: "\e821";
$icon-etc-magic-wand: "\e822";
$icon-etc-stats-dots: "\e823";
$icon-etc-fire: "\e824";
$icon-etc-lab: "\e825";
$icon-etc-bin: "\e826";
$icon-etc-tree: "\e827";
$icon-etc-link: "\e828";
$icon-etc-flag: "\e829";
$icon-etc-attachment: "\e82a";
$icon-etc-eye: "\e82b";
$icon-etc-eye-blocked: "\e82c";
$icon-etc-bookmark: "\e82d";
$icon-etc-heart: "\e82e";
$icon-etc-notification: "\e82f";
$icon-etc-info: "\e830";
$icon-etc-cancel-circle: "\e831";
$icon-etc-blocked: "\e832";
$icon-etc-exit: "\e833";
$icon-etc-play3: "\e834";
$icon-etc-pause2: "\e835";
$icon-etc-stop2: "\e836";
$icon-etc-backward2: "\e837";
$icon-etc-forward3: "\e838";
$icon-etc-first: "\e839";
$icon-etc-last: "\e83a";
$icon-etc-eject: "\e83b";
$icon-etc-volume-high: "\e83c";
$icon-etc-volume-medium: "\e83d";
$icon-etc-volume-low: "\e83e";
$icon-etc-volume-mute2: "\e83f";
$icon-etc-loop: "\e840";
$icon-etc-shuffle: "\e841";
$icon-etc-sort-alpha-asc: "\e842";
$icon-etc-sort-alpha-desc: "\e843";
$icon-etc-command: "\e844";
$icon-etc-shift: "\e845";
$icon-etc-opt: "\e846";
$icon-etc-filter: "\e847";
$icon-etc-insert-template: "\e848";
$icon-etc-share: "\e849";
$icon-etc-new-tab: "\e84a";
$icon-etc-embed: "\e84b";
$icon-etc-embed2: "\e84c";
$icon-etc-terminal: "\e84d";
$icon-etc-share2: "\e84e";
