@include font-face("icon-cxn", "../sass/icons/cxn/fonts/icon-cxn", $file-formats: eot ttf svg);


[class^="icon-cxn-"], [class*=" icon-cxn-"] {
	font-family: 'icon-cxn';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cxn-google:before {
	content: "\e800";
}
.icon-cxn-google-plus:before {
	content: "\e801";
}
.icon-cxn-facebook:before {
	content: "\e803";
}
.icon-cxn-ello:before {
	content: "\e804";
}
.icon-cxn-instagram:before {
	content: "\e805";
}
.icon-cxn-twitter:before {
	content: "\e806";
}
.icon-cxn-feed2:before {
	content: "\e807";
}
.icon-cxn-youtube2:before {
	content: "\e809";
}
.icon-cxn-twitch:before {
	content: "\e80a";
}
.icon-cxn-vimeo:before {
	content: "\e80b";
}
.icon-cxn-flickr:before {
	content: "\e80c";
}
.icon-cxn-flickr2:before {
	content: "\e80d";
}
.icon-cxn-dribbble:before {
	content: "\e80f";
}
.icon-cxn-forrst:before {
	content: "\e811";
}
.icon-cxn-deviantart:before {
	content: "\e812";
}
.icon-cxn-github4:before {
	content: "\e802";
}
.icon-cxn-tumblr:before {
	content: "\e816";
}
.icon-cxn-soundcloud:before {
	content: "\e81c";
}
.icon-cxn-reddit:before {
	content: "\e81d";
}
.icon-cxn-lastfm:before {
	content: "\e81f";
}
.icon-cxn-stumbleupon2:before {
	content: "\e820";
}
.icon-cxn-pinterest:before {
	content: "\e821";
}
