$icon-cxn-google: "\e800";
$icon-cxn-google-plus: "\e801";
$icon-cxn-facebook: "\e803";
$icon-cxn-ello: "\e804";
$icon-cxn-instagram: "\e805";
$icon-cxn-twitter: "\e806";
$icon-cxn-feed2: "\e807";
$icon-cxn-youtube2: "\e809";
$icon-cxn-twitch: "\e80a";
$icon-cxn-vimeo: "\e80b";
$icon-cxn-flickr: "\e80c";
$icon-cxn-flickr2: "\e80d";
$icon-cxn-dribbble: "\e80f";
$icon-cxn-forrst: "\e811";
$icon-cxn-deviantart: "\e812";
$icon-cxn-github4: "\e802";
$icon-cxn-tumblr: "\e816";
$icon-cxn-soundcloud: "\e81c";
$icon-cxn-reddit: "\e81d";
$icon-cxn-lastfm: "\e81f";
$icon-cxn-stumbleupon2: "\e820";
$icon-cxn-pinterest: "\e821";
