$icon-plt-tux: "\e818";
$icon-plt-apple: "\e819";
$icon-plt-android: "\e81a";
$icon-plt-windows8: "\e81b";
$icon-plt-chrome: "\e823";
$icon-plt-firefox: "\e824";
$icon-plt-IE: "\e825";
$icon-plt-opera: "\e826";
$icon-plt-safari: "\e827";
